Cargo.lock
tsconfig.tsbuildinfo
/target
node_modules
tools/figma_import/target
tools/figma_import/figma_output
*.code-workspace
/build
/_deps
package-lock.json
.DS_Store
Pipfile.lock
/.idea/codeStyles/codeStyleConfig.xml
/.idea/modules.xml
/ohos/npm/android-arm64/package.json
/ohos/npm/android-arm-eabi/package.json
/ohos/npm/darwin-arm64/package.json
/ohos/npm/darwin-universal/package.json
/ohos/npm/darwin-x64/package.json
/ohos/npm/freebsd-x64/package.json
/ohos/npm/linux-arm64-gnu/package.json
/ohos/npm/linux-arm64-musl/package.json
/ohos/npm/linux-arm-gnueabihf/package.json
/ohos/npm/linux-x64-gnu/package.json
/ohos/npm/linux-x64-musl/package.json
/ohos/npm/win32-arm64-msvc/package.json
/ohos/npm/win32-ia32-msvc/package.json
/ohos/npm/win32-x64-msvc/package.json
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/slint.iml
/.idea/vcs.xml
